
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Monsterrat';
}

a {
    text-decoration: none;
}

h1 {
    position: relative;
    margin: 10 auto;
    padding: 0;
}

li {
    list-style-type: none;
}

#about-hangul {
    position: relative;
    text-align: left;
    width: 15%;
    font-size: 25px;
    left: 2%;
    min-height: 50px;
    z-index: 10;
    border-bottom: 2px solid rgba(0, 0, 0, 85%);
}

.about-Nav {
    margin: 0 auto;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    text-transform: uppercase;
    transition: 0.5s;
    padding-top: 150px;
    text-align: center;
}

.about-Nav a{
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 10%;
    width: 20%;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    display: block;
    color: black;
    transition: 0.3s;
}

.about-Nav a:hover, #about-closebtn:hover {
    color: rgb(164, 189, 228);
    letter-spacing: 1px;
}

.about-nav-hangul{
    position: absolute;
    font-size: 25px;
    padding: 0;
    top: 0;
    left: 5%;
    text-align: justify;
    white-space: nowrap;
    min-height: 50px;
}


.about-openbtn {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    right: 5%;
    top: 20px;
    color: black;
    z-index: 99;
}

#about-closebtn {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 0;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 12px;
    text-align: right;
    color: black;
}

/* ################################################ */
/* ################################################ */


#about-section .about-title {
    position: relative;
    padding: 0;
    font-size: 25px;
    margin: 10 auto;
    width: 15%;
    text-align: left;
    left: 2%;
    min-height: 120px;
    z-index: 10;
}

#about-section p {
    position: absolute;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    margin: 0 auto;
    width: 25%;
    text-align: left;
    height: 50%;
    line-height: 30px;
    right: 20%;
    top: 30%;
}

.about-contact {
    position: fixed;
    padding: 0;
    margin: 0 auto;
    width: 125px;
    height: 125px;
    text-align: left;
    right: 2%;
    top: 20%;
    min-height: 120px;
    line-height: 70px;
}


#about-section p strong {
    padding: 0 5px;
}

.about-email-logo, .about-linkedin-logo, .about-github-logo {
    position: relative;
    padding: 0;
    margin: 0 auto;
    object-fit: fill;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 0;
    width: 30%;
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%); */

    transition: all ease-in .1s;
}

.about-email-logo:hover, .about-linkedin-logo:hover, .about-github-logo:hover {
    left: 0;
}


#about-shape {
    padding: 15vw 10vh;
    position: absolute;
    margin: 0 auto;
    left: 15%;
    right: 60%;
    top: 20%;
    bottom: 15%;
    height: 20px;
    width: 10%;
    border-radius: 5px;
}

#about-image {
    position: absolute;
    margin: 0 auto;
    left: 15%;
    right: 50%;
    top: 15%;
    bottom: 50%;
    height: 90%;
    image-rendering: auto;
    box-shadow: 2px 6px 9px 0px rgba(0, 0, 0, 25%); 
    object-fit: fill;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#about-image:hover {
    left: 10%;
}

.background-shape {
    /* background-color: rgba(252, 222, 197, 95%); */
    background-color: rgba(164, 189, 228, 40%);
}

#about-bottom p{
    position: fixed;
    margin: 0 auto;
    padding: 0;
    left: 20px;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    width: 50%;
    height: 60px;
    text-align: left;
}

b {
    color: #26c5f6;
}

@media only screen and (max-width: 900px) {
    .abou-Nav {
        margin: 0 auto;
        text-align: left;
        padding-top: 75px;
    }

    .about-Nav a {
        padding-left: 0;
        margin-left: 35%;
        font-size: 18px;
    }


   .background-shape {
       display: none;
   }

   #about-section p {
        position: relative;
        margin: 0 auto;
        padding: 0;
        text-align: justify;
        width: 75%;
        left: 2%;
        color: rgba(0, 0, 0, 85%);
    }

    #about-hangul {
        display: none;
    }

    #about-section .about-title {
        position: relative;
        padding: 0;
        padding-top: 25px;
        font-size: 20px;
        margin: 10 auto;
        width: 15%;
        text-align: left;
        left: 5%;
        min-height: 50px;
        z-index: 10;
        color: rgba(0, 0, 0, 85%);
    }

    .about-background-color {
        background-color: #fff;
    }

    .about-contact {
        display: none;
    }

    #about-bottom p {
        color: rgba(0, 0, 0, 85%);
    }
   
}

