
html {
    background-color: whitesmoke;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    margin: 10 auto;
    padding: 0;
   
}

#exp-hangul { /* Introduction */
    position: relative;
    color: rgba(255, 255, 255, 85%);
    text-align: left;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 25px;
    font-weight: bold;
    width: 15%;
    left: 2%;
    right: 70%;
    bottom: 50%;
    min-height: 50px;
    z-index: 99;
    border-bottom: 2px solid rgba(255, 255, 255, 85%);
    
}

/* exp-navigation BAR */

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 85%);
}

li {
    list-style-type: none;
    text-decoration: none;
}

.exp-Nav {
    margin: 0 auto;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    text-transform: uppercase;
    transition: 0.5s;
    padding-top: 150px;
    text-align: center;
}

.exp-Nav a{
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 10%;
    width: 25%;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    display: block;
    color: black;
    transition: 0.3s;
    /* border: 2px solid red;/ */
}

.exp-Nav a:hover, #exp-closebtn:hover {
    color: rgb(164, 189, 228);
    letter-spacing: 1px;
}

.exp-nav-hangul{
    position: absolute;
    font-size: 25px;
    padding: 0;
    top: 0;
    left: 2%;
    text-align: justify;
    white-space: nowrap;
    min-height: 50px;
}


.exp-openbtn {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    right: 5%;
    top: 20px;
    color: whitesmoke;
    z-index: 99;
}

#exp-closebtn {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 0;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 12px;
    text-align: right;
    color: black;
}

/* ################################################ */
/* ################################################ */

.ex-background-color {
    padding: 30vh 0;
    position: absolute;
}

.ex-background-color { /* Experience Section Shape*/
    margin: 0 auto;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(69, 69, 69, 25%);    
}

.exp-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: fill;
    height: 100%;
}

#ex-section h3 {
    padding: 0;
    margin: 10 auto;
    width: 15%;
    position: relative;
    color: rgba(255, 255, 255, 85%);
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 25px;
    left: 2%;
    text-align: left;
    min-height: 125px; 
}

#ex-section p {
    position: relative;
    margin: 0 auto;
    color: rgba(255, 255, 255, 85%);
    font-family:'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    text-align: center;
    min-height: 125px;
}

.exp-contact {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 125px;
    height: 125px;
    text-align: left;
    right: 2%;
    top: 20%;
    min-height: 120px;
    line-height: 70px;
}

.exp-email-logo, .exp-linkedin-logo, .exp-github-logo {
    position: relative;
    padding: 0;
    margin: 0 auto;
    object-fit: fill;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 0;
    width: 30%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(150%) contrast(100%);
    transition: all ease-in .1s;
}



.exp-email-logo:hover, .exp-linkedin-logo:hover, .exp-github-logo:hover {
    left: 0;
}


#exp-bottom p{
    position: absolute;
    margin: 0 auto;
    padding: 0;
    left: 20px;
    bottom: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 85%);
    line-height: 30px;
    width: 50%;
    height: 60px;
    text-align: left;
}

b {
    color: #26c5f6;
}

@media only screen and (max-width: 900px) {
    .exp-Nav {
        margin: 0 auto;
        text-align: left;
        padding-top: 75px;
    }

    .exp-Nav a {
        padding-left: 0;
        margin-left: 35%;
        font-size: 18px;
    }

    .exp-openbtn {
        color: whitesmoke;
    }

   #exp-hangul {
        display: none;
   }

   #ex-section h3 {
        position: relative;
        padding: 0;
        padding-top: 25px;
        font-size: 20px;
        margin: 10 auto;
        width: 15%;
        text-align: left;
        left: 5%;
        min-height: 50px;
        z-index: 10;
        color: rgba(255, 255, 255, 85%);
   }

   #ex-section p {
       color:rgba(255, 255, 255, 85%);
   }

   .exp-image {
     object-fit: cover;
   }

   .exp-contact {
        display: none;    
   }

    #exp-bottom p {
        color: rgba(255, 255, 255, 85%);
    }
}