@import "bgColor.css";


html {
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Monsterrat';
}

h1 {
    position: relative;
    margin: 10 auto;
    padding: 0;
   
}

#home-hangul { /* Introduction */
    position: relative;
    padding: 0;
    color: rgba(255, 255, 255, 85%);
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    width: 15%;
    right: 70%;
    left: 2%;
    bottom: 50%;
    min-height: 50px;
    z-index: 999;
    border-bottom: 2px solid rgba(255, 255, 255, 85%);
}


body {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 85%);
}

li {
    list-style-type: none;
    text-decoration: none;
}

.home-Nav {
    margin: 0 auto;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    text-transform: uppercase;
    transition: 0.5s;
    padding-top: 150px;
    text-align: center;
    
}

.home-Nav a{
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 10%;
    width: 25%;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: block;
    color: black;
    transition: 0.3s;
}

.home-Nav a:hover, #closebtn:hover {
    color: rgb(164, 189, 228);
    letter-spacing: 1px;
}

.home-nav-hangul{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    top: 0;
    left: 2%;
    text-align: justify;
    white-space: nowrap;
    min-height: 50px;
}

.openbtn {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    right: 5%;
    top: 20px;
    color: whitesmoke;
    z-index: 99;
}

#closebtn {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 0;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 12px;
    text-align: right;
    color: black;
}

/* ################################################ */
/* ################################################ */


.home-background-color {
    padding: 30vh 0;
    position: absolute;
}

.home-background-color {
    margin: 0 auto;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 40%);
}

#home-section .home-title {
    position: relative;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 25px;
    margin: 10 auto;
    width: 15%;
    text-align: left;
    left: 2%;
    min-height: 120px;
    color: rgba(255, 255, 255, 85%);
}

#home-section span h2{
    position: relative;
    margin: 0 auto;
    text-align: left;
    width: 50%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 50px;
    line-height: 30px;
    color:rgba(255, 255, 255, 85%);
    /* border: 2px solid red; */

}

#home-section span h3 {
    position: relative;
    margin: 0 auto;
    text-align: justify;
    width: 50%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 15px;
    line-height: 30px;
    color:rgba(255, 255, 255, 85%);
    /* border: 2px solid red; */
}

#home-section a {
    position: relative;
    margin: 0 auto;
    padding: 10px 40px;
    width: 50%;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 15px;
    color: rgba(255, 255, 255, 85%);
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

#home-section a:hover {
    background-color: rgba(255, 255, 255, 15%);
}


.home-contact {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 125px;
    height: 125px;
    text-align: left;
    right: 2%;
    top: 20%;
    min-height: 120px;
    line-height: 70px;

    
    /* border: 2px solid red; */
}


#home-email-logo, #home-linkedin-logo, #home-github-logo {
    position: relative;
    padding: 0;
    margin: 0 auto;
    object-fit: fill;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 0;
    width: 30%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(150%) contrast(100%);



    transition: all ease-in .1s;
}

#home-email-logo:hover, #home-linkedin-logo:hover, #home-github-logo:hover {
    left: 0;
}



#home-background {
    position: absolute;
    image-rendering: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}


video {
    position: absolute;
    
}

#home-back-video {
    margin: 0 auto;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}

.home-loop-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    image-resolution: normal;
}

#home-bottom p{
    position: absolute;
    margin: 0 auto;
    padding: 0;
    left: 20px;
    bottom: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    width: 50%;
    height: 60px;
    color:rgba(255, 255, 255, 75%);
    text-align: left;
}

b {
    color: #26c5f6;
}

/* MOBILES */

@media only screen and (max-width: 900px) {
   .home-Nav {
        margin: 0 auto;
        text-align: left;
        padding-top: 75px;
   }

   .home-Nav a {
        padding-left: 0;
        margin-left: 35%;
        font-size: 18px;
   }

   .openbtn {
        color: black;
   }

    #home-hangul {
        display: none;
    }

   #home-section .home-title {
        position: relative;
        padding: 0;
        padding-top: 25px;
        font-size: 20px;
        margin: 10 auto;
        width: 15%;
        text-align: left;
        left: 2%;
        min-height: 120px;
        z-index: 10;
        color: rgba(0, 0, 0, 85%);
    }

   #home-section span h2 {
        position: relative;
        margin: 0 auto;
        padding: 0;
        font-size: 30px;
        text-align: left;
        width: 75%;
        left: 2%;
        line-height: 40px;
        color: rgba(0, 0, 0, 85%);
    }

   #home-section span h3 {
        position: relative;
        margin: 0 auto;
        padding: 0;
        font-size: 15px;
        text-align: justify;
        box-sizing: border-box;
        width: 75%;
        left: 2%;
        color: rgba(0, 0, 0, 85%); 
   }

   #home-section a {
       display: none;
   }

   .home-contact {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 70%;
        right: 15px;
        bottom: 0;
        text-align: center;
   }


   .home-contact li {
       position: relative;
       padding: 0 5px;
       bottom: 0;
       right: 0;
   }

   .home-background-color {
        background-color: whitesmoke;
    }

    #home-email-logo, #home-linkedin-logo, #home-github-logo {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    }

    .name {
        animation: bgColor 5s infinite linear;
    }

    #home-bottom p {
        color: rgba(0, 0, 0, 85%);
    }
}