
html {
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    margin: 10 auto;
    padding: 0;
}

#project-hangul { /* Introduction */
    position: relative;
    padding: 0;
    color: rgba(255, 255, 255, 85%);
    text-align: left;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 25px;
    font-weight: bold;
    width: 15%;
    right: 70%;
    left: 2%;
    bottom: 50%;
    min-height: 50px;
    z-index: 10;
    border-bottom: 2px solid rgba(255, 255, 255, 85%)
}

/* NAVIGATION BAR */

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 85%);
}

li {
    list-style-type: none;
    text-decoration: none;
}

#project-header li {
    padding: 0 70px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: 48px;
    text-align: center;
}

#project-header a {
    transition: all .1s ease-in;
}

#project-header a:hover {
    background-color: rgb(164, 189, 228);
    color: rgb(164, 189, 228);
    letter-spacing: 1px;
    
}

#project-header ul {
    position: relative;
    margin: 0 auto;
    padding: 0;
    
}

.project-navigation {
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 14px;
    width: 100%;
    height: 48px;
    min-height: 55px;
    /* background-color: rgba(0, 0, 0, 85%); */
    z-index: 99;
    /* border: 2px solid blue; */
}

/* ################################################ */
/* ################################################ */


.projects-background-color {
    padding: 30vh 0;
    position: absolute;
}

.projects-background-color {
    margin: 0 auto;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 40%);
    
}

#project-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: fill;
    height: 100%;
}

#project-section .project-title {
    padding: 0;
    margin: 10 auto;
    width: 15%;
    position: relative;
    color: rgba(255, 255, 255, 85%);
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 25px;
    text-align: left;
    left: 2%;
    min-height: 125px;
    
    /* border: 2px solid red; */
}

#project-section p {
    position: relative;
    margin: 0 auto;
    color: rgba(255, 255, 255, 85%);
    font-family:'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    text-align: center;
    min-height: 125px;
    
}

.project-contact {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 125px;
    height: 125px;
    text-align: left;
    right: 2%;
    top: 20%;
    min-height: 120px;
    line-height: 70px;

    
    /* border: 2px solid red; */
}

#project-email-logo, #project-linkedin-logo, #project-github-logo {
    position: relative;
    padding: 0;
    margin: 0 auto;
    object-fit: fill;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 0;
    width: 30%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(150%) contrast(100%);



    transition: all ease-in .1s;
}



#project-email-logo:hover, #project-linkedin-logo:hover, #project-github-logo:hover {
    left: 0;
}

#project-bottom p{
    position: absolute;
    margin: 0 auto;
    padding: 0;
    left: 20px;
    bottom: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 85%);
    line-height: 30px;
    width: 50%;
    height: 60px;
    color:rgba(255, 255, 255, 75%);
    text-align: left;
    
}

b {
    color: #26c5f6;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
    #project-header li {
        padding: 0 7px;
        margin: 15px;
    }

    #project-header a:hover {
        letter-spacing: 0px;
    }

   .project-navigation {
       font-size: 7px;
       height: 48px;
       min-height: 55px;
       background-color: rgba(0, 0, 0, 85%);
   }

   #project-hangul {
       display: none;
   }

   #project-section .project-title {
        position: relative;
        padding: 0;
        font-size: 20px;
        margin: 10 auto;
        width: 15%;
        text-align: left;
        left: 2%;
        min-height: 50px;
        z-index: 10;
        color: rgba(0, 0, 0, 85%);
    }

    #project-section p {
        color: rgba(0, 0, 0, 85%);
    }

    .projects-background-color {
        background-color: whitesmoke;
    } 

    .project-contact {
        padding: 0;
        right: 20px;
        text-align: right;
    }

    .project-contact li {
        position: relative;
        padding: 0 5px;
        display: inline-block;
        bottom: 2%;
        right: 0;
    }

    #project-email-logo, #project-linkedin-logo, #project-github-logo {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    }

    #project-bottom p {
        color: rgba(0, 0, 0, 85%);
    }
}

@media (max-width: 600px) and (max-width: 1080px) {
    #project-header li {
        padding: 0 7px;
        margin: 15px;
    }

    #project-header a:hover {
        letter-spacing: 0px;
    }

   .project-navigation {
       font-size: 7px;
       height: 48px;
       min-height: 55px;
       background-color: rgba(0, 0, 0, 85%);
   }

   #project-hangul {
       display: none;
   }

   #project-section .project-title {
        position: relative;
        padding: 0;
        font-size: 20px;
        margin: 10 auto;
        width: 15%;
        text-align: left;
        left: 2%;
        min-height: 50px;
        z-index: 10;
        color: rgba(0, 0, 0, 85%);
    }

    #project-section p {
        color: rgba(0, 0, 0, 85%);
    }


    .projects-background-color {
        background-color: whitesmoke;
    } 

    .project-contact {
        padding: 0;
        right: 20px;
        text-align: right;
    }

    .project-contact li {
        position: relative;
        padding: 0 5px;
        display: inline-block;
        bottom: 2%;
        right: 0;
    }

    #project-email-logo, #project-linkedin-logo, #project-github-logo {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    }

    #project-bottom p {
        color: rgba(0, 0, 0, 85%);
    }
}