
html {
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif', 'Montserrat';
}

h1 {
    position: relative;
    margin: 10 auto;
    padding: 0;
}

#project-hangul { /* Introduction */
    position: relative;
    padding: 0;
    color: rgba(255, 255, 255, 85%);
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    width: 15%;
    right: 70%;
    left: 2%;
    bottom: 50%;
    min-height: 50px;
    z-index: 10;
    border-bottom: 2px solid rgba(255, 255, 255, 85%)
}

/* NAVIGATION BAR */

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 85%);
}

li {
    list-style-type: none;
    text-decoration: none;
}

.proj-Nav {
    margin: 0 auto;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    text-transform: uppercase;
    transition: 0.5s;
    padding-top: 150px;
    text-align: center;
}

.proj-Nav a{
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 10%;
    width: 25%;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    display: block;
    color: black;
    transition: 0.3s;
    /* border: 2px solid red;/ */
}

.proj-Nav a:hover, #proj-closebtn:hover {
    color: rgb(164, 189, 228);
    letter-spacing: 1px;
}

.proj-nav-hangul{
    position: absolute;
    font-size: 25px;
    padding: 0;
    top: 0;
    left: 5%;
    text-align: justify;
    white-space: nowrap;
    min-height: 50px;
}


.proj-openbtn {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    right: 5%;
    top: 20px;
    color: whitesmoke;
    z-index: 99;
}

#proj-closebtn {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 0;
    right: 5%;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 12px;
    text-align: right;
    color: black;
}

/* ################################################ */
/* ################################################ */


.projects-background-color {
    padding: 30vh 0;
    position: fixed;
}

.projects-background-color {
    margin: 0 auto;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(69, 69, 69, 25%);
}

.project-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: fill;
    height: 100%;
}

.project-section .project-title {
    padding: 0;
    margin: 10 auto;
    width: 15%;
    position: relative;
    color: rgba(255, 255, 255, 85%);
    font-size: 25px;
    text-align: left;
    left: 2%;
    min-height: 125px;
}


.project-list {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 100%);
    border: 5px solid black;
}

.project-list .list-git {
    position: relative;
    left: 5%;
    margin-top: 5%;
    width: 25px;
    transition: all ease-in-out .1s;
}


.proj-list-title {
    position: relative;
    left: 5%;
    margin-top: 40px;
    margin-bottom: 20px;
    word-wrap: break-word;
    width: 85%;
}

.proj-list-desc {
    position: relative;
    left: 5%;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    width: 85%;
    margin-bottom: 30px;
}

.proj-list-techStack {
    position: relative;
    left: 5%;
    font-size: 11px;
    font-weight: 600;
    width: 85%;
    line-height: 25px;
    color: rgba(0, 0, 0, 50%);
}


.project-contact {
    position: fixed;
    padding: 0;
    margin: 0 auto;
    width: 125px;
    height: 125px;
    text-align: left;
    right: 2%;
    top: 20%;
    min-height: 120px;
    line-height: 70px;
}

.project-email-logo, .project-linkedin-logo, .project-github-logo {
    position: relative;
    padding: 0;
    margin: 0 auto;
    object-fit: fill;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 0;
    width: 30%;
    filter: invert(100%);
    transition: all ease-in .1s;
}



.project-email-logo:hover, .project-linkedin-logo:hover, .project-github-logo:hover {
    left: 0;
}

#project-bottom p{
    position: fixed;
    margin: 0 auto;
    padding: 0;
    left: 20px;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    width: 50%;
    height: 60px;
    text-align: left;
    color: whitesmoke;
}

b {
    color: #26c5f6;
}

@media only screen and (max-width: 900px) {
    .proj-Nav {
        margin: 0 auto;
        text-align: left;
        padding-top: 75px;
    }

    .proj-Nav a {
        padding-left: 0;
        margin-left: 35%;
        font-size: 18px;
    }

    .proj-openbtn {
        color: whitesmoke;
    }

   #project-hangul {
        display: none;
   }

   .project-section .project-title {
        position: relative;
        padding: 0;
        padding-top: 25px;
        font-size: 20px;
        margin: 10 auto;
        width: 15%;
        text-align: left;
        left: 5%;
        min-height: 50px;
        z-index: 10;
        color: rgba(255, 255, 255, 85%);
    }

    .project-section .git-project {
        display: block;
        width: auto;
        left: 0;
        background-color: rgba(255, 255, 255, 85%);
    }

    .project-image {
        object-fit: cover;
    }

    .project-contact {
        display: none;
    }

    #project-bottom p {
        display: none;
    }
}